/* Navbar */

.navigation {
  display: flex;
  padding: 30px 40px 30px 40px;
}

.navigation a {
  color: rgba(0, 0, 0, 0.6);
}

.branding {
  flex: 2;
  padding: 15px;
}

.branding a {
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 2px;
  padding-top: 2px;
  transition: 0.2s linear;
}

.branding a:hover {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  transition: 0.1s linear;
}

.links {
  flex: 1;
  padding: 35px 15px 25px 15px;
  text-align: right;
}

.links a {
  font-weight: 300;
  padding-top: 5px;
  transition: 0.1s linear;
}

.links a:hover {
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 120px;
}

.spacer {
  padding: 0px 15px 0px 15px;
  display: inline;
}

/* Landing */

.landing {
  margin: 40px auto;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 80%;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 3px;
}

p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  line-height: 30px;
}

/* About */

.about {
  margin: 0 auto;
  width: 70%;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 20px 50px;
  background-color: rgba(175, 175, 175, 0.2);
  font-weight: 300;
  font-size: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.07);
}

.about p {
  padding: 10px 5px;
  line-height: 30px;
}

.about > div {
  text-align: center;
  padding: 10px;
}

a {
  color: rgba(0, 0, 0, 0.6);
}

a:hover {
  color: rgba(0, 0, 0);
}
