.landing {
  margin: 40px auto;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 80%;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 3px;
}

p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  line-height: 30px;
}
