.about {
  margin: 0 auto;
  width: 70%;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 20px 50px;
  background-color: rgba(175, 175, 175, 0.2);
  font-weight: 300;
  font-size: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.07);
}

.about p {
  padding: 10px 5px;
  line-height: 30px;
}

.about > div {
  text-align: center;
  padding: 10px;
}

a {
  color: rgba(0, 0, 0, 0.6);
}

a:hover {
  color: rgba(0, 0, 0);
}
