body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: rgba(218, 208, 157, 0.7);
  height: 100vh;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
}

/* CREATE POST */
